@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sora:wght@100..800&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
    /* Font size scale (rem) */
    --font-xs: 1.2rem; /* 12px */
    --font-sm: 1.4rem; /* 14px */
    --font-body: 1.6rem; /* 16px */
    --font-md: 2rem; /* 20px */
    --font-lg: 2.4rem; /* 24px */
    --font-h3: 3.6rem; /* 36px */
    --font-h2: 4.4rem; /* 44px */
    --font-h1: 5.2rem; /* 52px */

    --font-icon: 2.6rem; /* 26px */

    /* Line height scale */
    --lh-tight: 1.1;
    --lh-normal: 1.5;
    --lh-loose: 1.6;

    /* Spacing scale (rem) */
    --space-xxs: 0.4rem; /* 4px */
    --space-xs: 0.8rem; /* 8px */
    --space-sm: 1.2rem; /* 12px */
    --space-md: 1.6rem; /* 16px */
    --space-lg: 2.4rem; /* 24px */
    --space-xl: 3.2rem; /* 32px */
    --space-2xl: 4.8rem; /* 48px */
    --space-3xl: 6.4rem; /* 64px */
    --space-4xl: 7.2rem; /* 72px */

    /* Colours */
    --blue-primary: #2b4496;
    --blue-primary--shade: #1a295a;
    --blue-light: #eaecf4;
    --blue-background: #e9f8ff;
    --blue-dark: #0e1630;
    --grey: #525759;
    --colour-body: #333333;
    --black: #000000;
    --white: #ffffff;

    /* Fonts */
    --display-font: "Unna", serif;
    --body-font: "Inter", sans-serif;

    /* Border radius */
    --border-radius-btn: 50px;
    --border-radius-box: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
    font-size: 62.5%;
}

body {
    font-family: var(--body-font);
    height: 100%;
    width: 100%;
    position: relative;
}

.hidden {
    display: none;
}

/* Text (headings, paragraphs etc) */
.heading-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
}

h1 {
    font-size: var(--font-h1);
    line-height: var(--lh-tight);
    font-family: var(--display-font);
}

h2 {
    font-size: var(--font-h2);
    line-height: var(--lh-tight);
    font-family: var(--display-font);
}

h3 {
    font-size: var(--font-h3);
    line-height: var(--lh-tight);
    font-family: var(--display-font);
}

h4 {
    font-size: var(--font-md);
    font-weight: 600;
}

.paragraph {
    font-size: var(--font-body);
    line-height: var(--lh-loose);
}

.italic {
    font-style: italic;
}

.heading-highlight {
    color: var(--blue-primary);
}

/* Primary button */
.btn {
    text-decoration: none;
    font-size: var(--font-sm);
    padding: var(--space-md) var(--space-lg);
    border-radius: var(--border-radius-btn);
    font-weight: 500;
    transition: all 0.2s;
    width: fit-content;
}

.btn--primary,
.btn--primary:link,
.btn--primary:visited {
    background-color: var(--blue-primary);

    color: var(--white);
}

.btn--primary:hover,
.btn--primary:active {
    color: var(--white);
    background-color: #1a295a;
}

/* White button */
.btn--white,
.btn--white:link,
.btn--white:visited {
    background-color: var(--white);
    color: var(--blue-dark);
}

.btn--white:hover,
.btn--white:active {
    background-color: var(--blue-primary--shade);
    color: var(--white);
}

/* Primary Link */
.link:link,
.link:visited {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--font-sm);
    color: var(--blue-primary);
    gap: var(--space-xxs);
    transition: all 0.4s;
    font-weight: 500;
    padding: var(--space-xs);
    width: 150px;
    border-radius: 8px;
}

.link:hover,
.link:active {
    background-color: var(--blue-background);
    color: var(--blue-primary--shade);
    gap: var(--space-xs);
}

.link i {
    font-size: var(--font-body);
    font-weight: 600;
}

/* Header, footer and navigation */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-lg) var(--space-2xl);
    background-color: var(--blue-background);
    position: fixed;
    width: 100%;
}

.main-header__logo {
    font-size: var(--font-md);
    font-weight: 500;
    text-decoration: none;
    color: var(--black);
}

.main-footer {
    background-color: var(--blue-background);
}

.main-footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--space-lg) var(--space-4xl);
    margin-bottom: var(--space-md);
}

.main-footer__company {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.company__social {
    display: flex;
    gap: var(--space-md);
}

.social__icon:link,
.social__icon:visited {
    text-decoration: none;
    font-size: var(--font-icon);
    background-color: var(--blue-primary);
    color: var(--blue-light);
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: all 0.2s;
}

.social__icon:hover,
.social__icon:active {
    transform: scale(1.1);
    background-color: var(--blue-primary--shade);
}

.main-footer__copyright {
    background-color: var(--blue-light);
    padding: var(--space-sm) var(--space-4xl);
    color: var(--grey);
    font-size: var(--font-xs);
    text-align: center;
}

.main-header__nav {
    display: flex;
    gap: var(--space-lg);
}

.main-footer__nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: var(--space-sm);
}

.nav__heading {
    text-transform: uppercase;
    font-size: var(--font-body);
    font-weight: 600;
}

.nav__link:link,
.nav__link:visited {
    font-size: var(--font-sm);
    text-decoration: none;
    color: var(--black);
    border-bottom: 2px solid transparent;
    padding: var(--space-xxs);
    font-weight: 500;
    transition: all 0.2s;
}

.nav__link:hover,
.nav__link:active {
    color: var(--blue-dark);
    border-bottom: 2px solid var(--blue-dark);
}

/* Section Component */
section {
    padding: var(--space-4xl);
}

.section-top {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    margin-bottom: var(--space-2xl);
}

.section-top__heading-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.subheading {
    font-size: var(--font-md);
}

.subheading--grey {
    color: var(--grey);
}

.subheading--blue {
    color: var(--blue-primary);
}

.subheading--white {
    color: var(--white);
}

.section-top__paragraph {
    font-size: var(--font-body);
    color: var(--colour-body);
    max-width: 80%;
    line-height: var(--lh-normal);
}

/* Boxes grid component */
.boxes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--space-2xl);
}

.boxes-grid__box {
    background-color: var(--white);
    border-radius: var(--border-radius-box);
    padding: var(--space-xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    box-shadow: 0 2.4rem 4.8rem -4px rgba(14, 22, 48, 0.1);
    transition: all 0.3s;
    min-height: 32rem;
}

.box__text {
    font-size: var(--font-sm);
    font-weight: 350;
    line-height: var(--lh-normal);
    color: var(--grey);
}

.box__icon {
    background-color: var(--blue-light);
    height: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-icon);
    border-radius: 100%;
    color: var(--blue-primary);
}

/* Accordion Component */
.accordion {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

.accordion__panel {
    border: 2px solid var(--white);
    background-color: var(--white);
    padding: var(--space-lg);
    border-radius: var(--border-radius-box);
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    box-shadow: 0 2.4rem 4.8rem -4px rgba(14, 22, 48, 0.05);
}

.panel__heading {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-md);
    width: 100%;
    font-family: inherit;
    text-align: start;
}

.panel__content {
    background-color: var(--white);
    color: var(--black);
}

.panel__heading i {
    font-size: var(--font-lg);
}
