/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
    /* Font size scale (rem) */
    --font-xs: 1.2rem; /* 12px */
    --font-sm: 1.4rem; /* 14px */
    --font-body: 1.6rem; /* 16px */
    --font-md: 1.8rem; /* 18px */
    --font-lg: 2.2rem; /* 22px */
    --font-h3: 3.6rem; /* 36px */
    --font-h2: 4.4rem; /* 44px */
    --font-h1: 5.2rem; /* 52px */

    /* Line height scale */
    --lh-tight: 1.1;
    --lh-normal: 1.5;
    --lh-loose: 1.6;

    /* Spacing scale (rem) */
    --space-xxs: 0.4rem; /* 4px */
    --space-xs: 0.8rem; /* 8px */
    --space-sm: 1.2rem; /* 12px */
    --space-md: 1.6rem; /* 16px */
    --space-lg: 2.4rem; /* 24px */
    --space-xl: 3.2rem; /* 32px */
    --space-2xl: 4.8rem; /* 48px */
    --space-3xl: 6.4rem; /* 64px */
    --space-4xl: 7.2rem; /* 72px */

    /* Colours */
    --blue-primary: #2b4496;
    --blue-primary--shade: #1a295a;
    --blue-light: #eaecf4;
    --blue-background: #e9f8ff;
    --blue-dark: #0e1630;
    --grey: #525759;
    --colour-body: #333333;
    --black: #000000;
    --white: #ffffff;

    /* Fonts */
    --display-font: "Unna", serif;
    --body-font: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
    font-size: 62.5%;
}

body {
    font-family: var(--body-font);
    height: 100%;
    width: 100%;
}

/* Text (headings, paragraphs etc) */
.heading-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
}

h1 {
    font-size: var(--font-h1);
    line-height: var(--lh-tight);
    font-family: var(--display-font);
    font-style: italic;
}

h2 {
    font-size: var(--font-h2);
    line-height: var(--lh-tight);
    font-family: var(--display-font);
}

/* Reusable components */
.btn-primary,
.btn-primary:link,
.btn-primary:visited {
    text-decoration: none;
    font-size: var(--font-sm);
    background-color: var(--blue-primary);
    padding: var(--space-md) var(--space-lg);
    border-radius: 50px;
    color: var(--white);
    font-weight: 500;
    transition: all 0.2s;
    width: fit-content;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: #1a295a;
}

/* Header */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-lg) var(--space-2xl);
    background-color: var(--blue-background);
}

.main-header__nav {
    display: flex;
    gap: var(--space-lg);
}

.nav__link:link,
.nav__link:visited {
    font-size: var(--font-sm);
    text-decoration: none;
    color: var(--black);
    border-bottom: 2px solid transparent;
    padding: var(--space-xxs);
    font-weight: 500;
    transition: all 0.2s;
}

.nav__link:hover,
.nav__link:active {
    color: var(--blue-dark);
    border-bottom: 2px solid var(--blue-dark);
}

/* Section */
section {
    padding: var(--space-3xl);
}

.section-top {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    margin-top: var(--space-xl);
}

.subheading--grey {
    font-size: var(--font-lg);
    color: var(--grey);
}

.subheading--blue {
    font-size: var(--font-lg);
    color: var(--blue-primary);
}

.subheading--white {
    font-size: var(--font-lg);
    color: var(--white);
}

.section-top__paragraph {
    font-size: var(--font-body);
    color: var(--colour-body);
    max-width: 80%;
    line-height: var(--lh-normal);
}
