@media (width < 1070px) {
    .main-header__nav {
        display: none;
    }

    .main-header .btn {
        display: none;
    }

    .mobile-nav-btn {
        display: block;
    }
}

@media (width < 950px) {
    section {
        padding: var(--space-2xl);
    }

    .main-footer-grid {
        padding: var(--space-lg) var(--space-2xl);
    }
}

@media (width < 800px) {
    :root {
        --fnt-heading-hero: 4.8rem;
        --fnt-heading-section: 4.4rem;
        --fnt-lg: 2.2rem;
        --fnt-body: 1.5rem;
        --fnt-body-box: 1.35rem;
        --fnt-sm: 1.3rem;
        --fnt-subheading-section: 2rem;
        --fnt-small-box-heading: 1.7rem;
        --fnt-h3: 3rem;
    }

    section {
        padding: var(--space-4xl) var(--space-2xl);
    }

    .main-footer-grid {
        padding: var(--space-lg) var(--space-2xl);
    }
}

@media (max-width: 600px) {
    :root {
        --fnt-heading-hero: 3.8rem;
        --fnt-heading-section: 3.4rem;
        --fnt-lg: 1.8rem;
        --fnt-body: 1.4rem;
        --fnt-body-box: 1.3rem;
        --fnt-sm: 1.2rem;
        --fnt-subheading-section: 1.8rem;
        --fnt-small-box-heading: 1.6rem;
        --fnt-h3: 2.4rem;
    }
}

@media (width < 550px) {
    section {
        padding: var(--space-2xl) var(--space-xl);
    }

    .main-header {
        padding: var(--space-lg) var(--space-xl);
    }

    .main-footer-grid {
        padding: var(--space-lg) var(--space-xl);
    }
}

@media (width < 400px) {
    section {
        padding: var(--space-2xl) var(--space-md);
    }
}
