/* Hero section */
.section-hero {
    background-image: url("/src/img/hero-banner.png");
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 75vh;
}

/* Why us section */
