/* Hero section */
#section-hero {
    background-image: url("/src/img/hero-banner.png");
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 85vh;
}

#section-hero .section-top {
    margin-top: var(--space-3xl);
}

/* Why us section */
#section-why {
    background-color: var(--blue-background);
}

/* Standout section */
#section-standout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    padding: var(--space-4xl);
    gap: var(--space-sm);
    height: 55vh;

    background-image: linear-gradient(
            rgba(14, 22, 48, 0.5),
            rgba(43, 68, 150, 0.25)
        ),
        url("/src/img/standout-banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.section-standout__heading {
    font-size: 6.4rem;
}

/* Services section */
#section-services {
    background-color: var(--blue-background);
}
